<app-container>
  <div>
    <div class="flex justify-between">
      <h1>Budgets</h1>
      <button (click)="popUpVisibililty = true"
        class="text-sm p-4 bg-black hover:bg-zinc-600 transition-all rounded-md text-white">
        + Add new budget
      </button>
    </div>
    @if(popUpVisibililty){
    <app-pop-up (closePopUp)="this.popUpVisibililty = false" [popUpContent]="{
        title: 'Budget',
        desc: 'Choose a category to set a spending budget. These categories can help you monitor spending.'
      }">
      <app-budget-form (closePopUp)="this.popUpVisibililty = false" (sub)="onSubmitBudget($event)" #budget />
    </app-pop-up>
    }
  </div>
  @if(budgetList.length){
  <div class="rounded-lg" ngProjectAs="page">
    <div class="grid grid-cols-7 justify-center gap-5">
      <div class="md:col-span-3 col-span-full">
        <apx-chart [colors]="chartOptions.colors!" [series]="chartOptions.series!" [chart]="chartOptions.chart!"
          [labels]="chartOptions.labels" [responsive]="chartOptions.responsive!"></apx-chart>
      </div>
      <div class="md:col-span-4 col-span-full gap-5">
        <app-budget-card (remove)="onRemove($event)" (edit)="manipulateBudget($event, 'Edit')" class="my-5"
          *ngFor="let budget of budgetList" [budget]="budget" />
      </div>
    </div>
  </div>
  }@else{
  <h2 class="font-semibold italic text-center ">No budgets found !!</h2>
  }
</app-container>