#overlay {
  width: 100%;
  background: #00000080;
  position: fixed;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.3s ease; /* Smooth transition */
}
.contentWrapper {
  width: 560px;
  background-color: #fff;
  
}
a {
  cursor: pointer;
}
