<app-container class="mx-auto">
  overview
  <div ngProjectAs="page">
    <app-list-of-cards></app-list-of-cards>
    <div class="grid grid-cols-1 lg:grid-cols-2 pt-10 gap-5">
      <div class="grid gap-y-5">
        <app-pots />
        <app-card-item [link]="'/transactons'">
          Transactions
          <div ngProjectAs="component" class="totalSaved">
            <app-transactions-list [transactions]="trs" />
          </div>
        </app-card-item>
      </div>
      <div>
        <div class="pb-5">
          <app-chart />
          <!-- <app-budget-card /> -->
        </div>
        <app-recurring-item />
      </div>
    </div>
  </div>
</app-container>